@bg_color : #eee;
@menu_text : white;
@menu_selected : black;

@menu_header :#424242;
@balloon:#e9e9e9;




@menu_header_text : #eceff1;
@menu_sapline :#505050;
@menu_sapline_light : #AEAEAE;
@menu_active_bg:#484848;
@menu_item_text:#aeaeae;
@menu_item_text_active:#FF9A00;
@menu_add:#1c6981;
@menu_add_hover:#00c1fc;
// @menu_sapline_light : #e9eaed;
@color_primary : #303030;
@color_primary_font:#555;
@color_secondary_font:#616161;
@color_primary_active:#1E75FF;
//control
@text_focus:#66afe9;
@icon_gray:#9E9E9E;
@sj_action:#9b9b9b;
@sj_action_hover:#666;
//link
@light_click:#2196f3;

@chat_title:#9b9b9b;

@card_name:#3c4d97;
@card_submenu:#9b9b9b;
@notification:#ed1c24;
@date_dark:#1E75FF;

@token_wait:#FF9A00;

@subject_selected:#5798FF;

@action_normal:#9b9b9b;
@action_complete:#43A047;
@action_exception:#FF9A00;
@action_add:#1E75FF;

@date_overdue:#f3352f;
@date_normal:#303030;
@date_complete:#43A047;

@hierarchy_star:#FFBB00;