// body{
// 	margin: 0;
// 	background-color: #CFD8DC;
// 	font-family: 'Roboto', sans-serif;
// }


.chat-plugin-default-container{
	width: 240px;
}

.chat-plugin-main{
	position: fixed;
	bottom: 0;
	right: 30px;
	box-shadow: 0 2px 25px rgba(0,0,0,.2);
	// width: 240px;
	.turn-on{
		width: 320px;
	}

	.turn-on-backend{
		width: 400px;
	}

	.turn-off{
		width: 240px;
	}

	.main-content{
		height: 360px;
		width: 340px;
		background-color: white;
	}

	.main-content-backend{
		height: 360px;
		width: 420px;
		background-color: white;
		.main-content-container{
			width: 100%;
			max-width: 100%;
			background-color: #ccc;
			background: white;
			// border:1px solid #EEEEEE;
			border-top:none;
			flex-direction:row;
			display: flex;
		}
	}
}

.chat-plugin-header{
	background-color: #1565C0;
	color: white;
	font-size: 11pt;
	font-family: 'Roboto', sans-serif;
	padding: 8px 10px;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
	&.turn-off{
		.material-icons{
			display: none;
		}
	}
	>.material-icons{
		vertical-align: text-bottom;
		float: right;
	}
}

.chat-form{
	padding: 8px;

	.field-container{
		margin-bottom: 10px;
	}

	.label{
		font-size: 10pt;
		color: #777;
		margin-bottom: 2px;
	}

	.input-container{
		padding-right: 15px;
		input[type="text"]{
		    border: 1px solid #999;
		    border-radius: 3px;
		    background-clip: padding-box;
		    background-color: #fff;
		    padding: 8px 6px;
		    font-size: 11pt;
		    width: 100%;
		}
	}
	select{
		width: 100%;
		font-size: 11pt;
	}
	
	button{
		width: 100%;
		margin-top:6px;
	}
}

.chatforwork-plugin-panel{
	display: flex;
    flex-direction: column;
    height: 100%;

	.message-container{
		padding-top: 8px;
		padding-bottom: 8px;
		flex:1;
		overflow-y: scroll;
		background-color: white;
		// padding-right: 16px;
		flex-direction: column;
	    display: flex;
	    width: 100%;

		.chat-message{
			line-height: inherit;
			margin-bottom: 0;
			>span{
				display: block;
			}
			>.user-name{
				color: #777;
			    font-size: 12px;
			    font-weight: 300;
			    padding-top: 12px;
			}
			>.message-p{

				font-weight: 400;
				font-size: 12pt;
				padding-bottom: 7px;
				
				>.read{
					float: right;
					font-size: 9px;
    				padding: 0 10px;
				}
			}

			&.is-client{
				color: #1655A8 !important;
				>.user-name{
					color: #1655A8 !important;
				}
			}
		}
	}
	.chat-input{
		padding-right: 16px;
		background-color: white;
		border-top: 1px solid #ccc;
		display: flex;
		textarea{
			width: 100%;
		    border: none;
		    resize: none;
		    padding: 8px;
		    font-size: 11pt;

		    &:focus {
			    outline: 0;
			}
		}
		.attach{
			display: flex;
		    align-self: center;
		    margin-right: 10px;
		    color: #777;
		    cursor: pointer;
		    input[type="file"]{
		    	display: none;
		    }
		}
	}

	.balloon-wraper{
    	margin-top: 5px;
    	>.sender{
    		font-size: 10pt;
    		color: #777;
			margin-bottom: 3px;
    	}

    	>.inner-container{
			display: flex;
			align-items: flex-end;
			padding: 0  8px;
			>.info{
				font-size: 8pt;
				padding-left: 8px;
				color: #ccc;
				display: flex;
			    flex-direction: column;
			    align-items: flex-end;
			}
		}
    }

    .balloon-right-wrapper{
		align-self:flex-end;
		margin-top: 5px;
		>.inner-container{
			display: flex;
			align-items: flex-end;
			padding: 0  8px;
			>.info{
				line-height: 11pt;
				font-size: 8pt;
				padding-right: 8px;
				color: #ccc;
				display: flex;
			    flex-direction: column;
			    align-items: flex-end;
			}
		}
	}

	.balloon-left,.balloon-right{
		background-color: #e9e9e9;
		padding: 5px 7px;
		font-size: 11pt;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		word-break: break-word;	
	}
	.balloon-right{
		background-color: #C2E8E5;
	}
}

.main-content-chat{
	display: flex;
	width:100%
}
.right-panel{
	flex: 1;
}