
.left-panel{
	padding: 12px 0px;
	border-right: 1px solid #eaeaea;
	font-size: 11pt;
	color: #333;
	height: 100%;
	.label{
		padding: 8px 16px;
		font-weight: bold;
		color: #777;
		font-size: 9pt;
	}
	a{
		padding: 8px 16px;
		font-weight: bold;
		font-size: 10pt;
	}
	.width-90{
		width:90%;
	}
	.icon{
		display: block;
		padding: 5px;
		cursor: pointer;
		color:black;
	}
}

.data-item{
	padding: 8px 16px;
	display: flex;
	font-size: 10pt;
	align-items:center;
    justify-content: space-between;
    text-decoration: none;
    color: #333 !important;
	&:hover{
		background-color: #f7f7f7;
		cursor: pointer;
	}
	&.selected{
		background-color: #dfdfdf;
	}

	>.notification{
		background-color: #F44336;
	    color: white;
	    padding: 3px 6px;
	    border-radius: 10px;
	    font-size: 9pt;
	}
}

/* Tooltip container */
		.tooltip {
		    position: relative;
		    display: inline-block;
		    /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
		}

		/* Tooltip text */
		.tooltip .tooltiptext {
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
		    visibility: hidden;
		    width: 50px;
		    background-color: #555;
		    color: #fff;
		    text-align: center;
		    padding: 5px 0;
		    border-radius: 6px;

		    /* Position the tooltip text */
		    position: absolute;
		    z-index: 1;
		    top: -50%;
		    left: 50%;
		    margin-left: 0px;

		    /* Fade in tooltip */
		    opacity: 0;
		    transition: opacity 1s;
		}

		/* Tooltip arrow */
		.tooltip .tooltiptext::after {
		    content: "";
		    position: absolute;
		    top: 100%;
		    right: 70%;
		    margin-left: -5px;
		    border-width: 5px;
		    border-style: solid;
		    border-color: #555 transparent transparent transparent;
		}

		/* Show the tooltip text when you mouse over the tooltip container */
		.tooltip:hover .tooltiptext {
		    visibility: visible;
		    opacity: 1;
		}

/* Create the blue navigation bar */
.navbar {
  background-color: #3b5998;
  font-size: 22px;

  padding: 5px 10px;
}

/* Define how each icon button should look like */
.button {
  color: white;
  // display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  //padding: 2px 5px; /* Add some padding so it looks nice */
}

/* Make the badge float in the top right corner of the button */
.button__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
 
  padding: 1px 3px;
  font-size: 10px;
  
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;

}
.hide {
	display: none;
}

.display-flex{
	display: flex;
}

.cursor-pointer{
	cursor: pointer;
}	  

 .button{
 	display: flex;
	.btn-wrap{
		flex: 1;
		width: 100%;
		margin: 5px;
			.btn-add{
			 float: right; 
		     color: #2895F1;
			 }
			.btn-cancel{
			 float: left; 
			 }
		}
	}
